@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Discover, save your favorites, and share your reviews with the community..</p>
</div>
